.upload {
    position: absolute;
    top: 0;
    left: $widthDock;
    bottom: 0;
    right: 0;
    display: flex;
    padding-top: 160px;
    padding-bottom: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.upload--center {
    justify-content: center;
}

.upload__description {
    width: 50%;
    margin: 12px auto 62px;
    color: $colorTextLight;
    text-align: center;
    line-height: 1.8;
}

.upload__caseid {
    width: 60%;
    margin: 0 auto 0;
    color: $colorTextLight;
    text-align: left;
    line-height: 1.8;
    box-sizing: border-box;
    border-bottom: none;
    border-radius: 0px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.upload__caseid__input {
    width: 60%;
    margin: 0 auto;
    color: $colorTextLight;
    text-align: left;
    line-height: 1.8;
    box-sizing: border-box;
    border: 1px solid $colorBorderLight;
    border-bottom: none;
    border-radius: 0px;
    padding: 20px 20px;
    font-size: 1em;
}

.upload__caseid__submit {
    border: 1px solid $colorHackathon;
    width: 40%;
    height: 100%;
    background-color: $colorHackathon;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.rc-upload {
    display: block;
    width: 60%;
    margin: 0 auto 0;
    padding: 200px 20px;
    border: 1px solid $colorBorderLight;
    color: $colorTextLight;
    box-sizing: border-box;
}

.upload__success {
    display: block;
    width: 60%;
    position: relative;
    margin: 0 auto;
    padding: 20px 0 0;
    border: 1px solid $colorBorderLight;
    border-top: none;
    color: $colorTextLight;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    box-sizing: border-box;
}

.upload__success__headline {
    font-weight: bold;
    font-size: 1.5em;
    color: $colorTextDefault;
    margin-bottom: 12px;
    display: inline-block;
    padding: 0 20px 10px;
}

.upload__success__list__file {
    padding: 20px 20px;
    border-bottom: 1px solid $colorBorderLight;
    width: 100%;
    box-sizing: border-box;

    &:last-child {
        border-bottom: none;
    }
}

.upload__success__button {
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    background-color: $colorHackathon;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}