$colorBackgroundLight: #FFFFFF;
$colorBackgroundDefault: #F9F9F9;
$colorBackgroundDark: #E4E4E4;

$colorBorderLight: #ebebeb;
$colorBorderDefault: #DCDCDC;

$colorTextDefault: #000000;
$colorTextLight: #7D7D7D;

$colorHackathon: #5056B0;

$widthDock: 80px;
$widthList: 300px;
$heightGraph: 600px;

$transitionSpeedDefault: 0.2s;
